.article {
    margin-top: 5px;
    margin-left: 25%;
    width: 50%;
    border-style: solid;
    border-radius: 2%;
    background-color: white;
}

body {
    background-color: grey;
}

* {
    font-size: 20px;
}